*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sun{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 10px 10px rgb(238, 0, 0);
    
}