*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    margin: auto;
}
.sidebar{
    height: 90vh;
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
     border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}
.main-content{
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}
.profile img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;

}
.profile p{
    background: #1e1e1e;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
.profile{
    text-align: center;
}
.contact{
    margin-top: 30px;
    padding: 20px;
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
    
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;

}
.email, .phone{
    margin-bottom: 15px;
}
.social{
    margin-top: 20px;
    text-align: center;

}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;

}
.social img:hover{
    filter: grayscale(0) invert(0)
}
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: end;
    gap: 40px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;

}
.active, nav a:hover{
    color: #FFBF00;
}
#about{
margin-bottom: 40px;
}
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}
.content{
    text-align: justify;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 35px;
    
}
.item img{
    margin-bottom: 15px;
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%)
    
}
.item{
    padding: 20px;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
#education{
    margin-top: 30px;
}
.edtech{
    position: relative;
    margin-top: 20px;

}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.collage{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;

}
.work{
    color: #a0a0a0;
}
.edfirst, .edsecond{
    position: relative;
    margin-bottom: 30px;
    padding-left: 25px;

}
.goal{
    height: 10px;
    width: 10px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.linear{
    position: absolute;
    top: 0;
    bottom: 0px;
    border: 1px solid #3a3a3a;
    left: 5px;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 30px;

}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.project{
    background-color: #1e1e1e;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.card{
    padding: 20px;
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
   
    margin-bottom: 15px;

}
.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

@media screen and (max-width:1200px){
   .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .sidebar{
        position: static;
        height: auto;
    }
}
@media screen and (max-width:750px){
    .project-container{
        grid-template-columns: 1fr;
    }
    #navigation nav{
        justify-content: center;
        flex-wrap: wrap;
    }
    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}