*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: white;

}
.container{
    display: grid;
    height: 500px;
    width: 700px;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
     grid-template-rows: 1fr 0.6fr 0.4fr 1fr;
    gap: 10px;
    margin-top: 20px;
    background: rgb(255, 72, 0);
    padding: 10px;
}

.box{
    background-color: rgb(255, 255, 255);
}

.first{
    grid-row: 1/3;
    background-color: red;
}
.second{
grid-row: 3/5;
}
.third{
    grid-column: 2/4;
    background-color: aqua;
}
.fourth{
    grid-column: 4/6;
    background-color: burlywood;
}
.fifth{
    grid-row: 2/4;
    background-color: burlywood;
}
.sixth{
    grid-row: 2/4;
    grid-column: 3/5;
}
.seventh{
    grid-row: 2/5;
    background-color: red;
}
.eight{
    grid-column: 2/4;
    background-color: red;
}
.ningth{
    background-color: aqua;
}

