*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #a0a0a0;
}
body{
    background-color: #1a1a1a;
   line-height: 1.6;
    color: #e1e1e1;
    font-family: sans-serif;
}

/* main container */
.main-container{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}


/* Sidebar */

.sidebar{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
   
    
    gap: 20px;
    
    position: sticky;
    height: 90vh;
    top: 40px;
    left: 40px;

}

/* Profile */

.profile{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: ceter;
    align-items: center;
}
.profile img{
    width: 120px;
    height: 120px;
    border: 1px solid #3a3a3a;
    border-radius: 50%;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
   
}

.profile p{
    background-color: #1e1e1e;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 2px;
 
}


/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-top: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
}

.email , .phone, .location{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
}

/* Social */

.social{
    margin-top: 20px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    filter: grayscale(1.5) invert(0.75);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}


/* Main Content */
.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* Navigation*/

#navigation{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #3a3a3a;
}
nav{
    display: flex;
    justify-content: end;
    gap: 40px;
}
nav a{
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active, nav a:hover{
    color: #FFBF00;
}

/* About */

#about{
    margin-bottom: 40px;
}

.heading{
    font-size: 2rem;
    color: #e0e0e0;
    margin-bottom: 15px;
}
.line{
    background-color: #FFBF00;
    height: 5px;
    width: 60px;
    margin-bottom: 15px;
}
.content{
    text-align: justify;
}


/* Skills */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 35px;
}
.item{
    padding: 20px;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    background: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px #1a1a1a;
}

.item img{
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);

}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}


/* Education */

#education{
    margin-top: 30px;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.edfirst , .edsecond{
    position: relative;
    margin-bottom: 30px;
    padding-left: 25px;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.collage{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.work{
    color: #a0a0a0
}
.goal{
    width: 10px;
    height: 10px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.linear{
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    border: 1px solid #3a3a3a;
}


/* portfolio */

.portfolio{
    margin-top: 30px;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project{
    background-color: #1e1e1e;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.card{
    padding: 20px;
}
.card h3{
    color: #e1e1e1;
    margin-bottom: 10px;
}
.card p{
   color: #a0a0a0;
   margin-bottom: 15px;
   line-height: 1.6;
}
.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

@media screen and (max-width:1200px){
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .sidebar{
        position: static;
        height: auto;
    }
}
@media screen and (max-width:750px){
    .project-container{
        grid-template-columns: 1fr;
    }
    #navigation nav{
        justify-content: center;
        flex-wrap: wrap;
    }
    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}