* {
  margin: 0;
  padding: 0;
  outline: none;
  /* overflow: hidden; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: #ffffff;
  gap: 100px;
  padding: 80px;
  height: 100vh;
}
h1 {
 
  font-weight: 900;
  outline: none;
  font-size: 50px;
  color: blue;
}

.form {
  border: 5px solid blue;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 300px;
  padding: 20px;
  gap: 10px;

}

label {
  display: block;
  font-size: x-large;
}
span {
  color: blue;
}
h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px;
  color: blue;
}
.submit{
    text-align: center;
    font-size: x-large;
    background: blue;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    
}
.input{
    width: 100%;
}
input{
    width: 100%;
    height: 30px;
    font-size: large;
    border-radius: 5px;
    padding: 0  10px;
    
}
p{
    font-size: large;
    margin: 5px;
}
