*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
} */
 body{
    height: 100vh;
    overflow: hidden;
 }
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100%{
        filter: hue-rotate(360deg);
    }
}
.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box{
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
    position: relative;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;

}
.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}
.ragister-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.ragister-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.ragister-link p a:hover{
    text-decoration: underline;
}

@media (max-width:360px){
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0px;
    }
    .input-box{
        width: 290px;
    }
}

.login-right{
    position: absolute;
    top: -143px;
    left: 50%;
  
    transform: translateX(-50%);
    width: 500px;
    height: 10px;
    background: #00f7ff;
    border-radius: 20px ;
}
.login-right::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 450px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%);
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}
.toggle{
    position: absolute;
    width: 60px;
    top: 20px;
    right: -70px;
    height: 120px;
    background: #191919;
    border-radius: 10px;
}
.toggle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;
    background: #000;
}
.toggle::after{
    position: absolute;
    content: "";
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background: #333;
    border: 2px solid #191919;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s ease;
}
.input-check:checked~.toggle::after{
    top: 65px;
}
.input-check{
    position: absolute;
    right: -70px;
    z-index: 1;
    opacity: 0;
}
.text{
    position: absolute;
    color: #fff;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    z-index: 1;
    text-transform: uppercase;
    pointer-events: none;
    transition: all .5s ease;
}
.text.off{
    opacity: 1;
}
.input-check:checked~.toggle .text.off{
    top: 76px;
    opacity: 0;
}
.toggle .text.on{
    opacity: 0;
}

.input-check:checked~.toggle .text.on{
    top: 76px;
    opacity: 1;
    color: #00f7ff;
    text-shadow: 
    0 0 15px #00f7ff,
    0 0 30px #00f7ff,
    0 0 45px #00f7ff,
    0 0 60px #00f7ff;
}