*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main_box{
    position: relative;
    background: url(bg.jpg) right no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main_box .sidebar_menu{
    position: fixed;
    height: 100vh;  
    width: 280px;
    left: -280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}

.menu li{
    margin-top: 6px;
    padding: 14px 20px;
    transition: all 0.3s linear;
}
.menu i{
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
}

.menu a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.social_media{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}

.social_media i{
    padding: 0 5px ;
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    transition: all 0.2s linear;
}
.social_media i:hover{
    opacity: 1;
}
#check{
    display: none;
}

.main_box .btn_one{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.main_box .btn_two{
    color: black;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
}

.btn_one i:hover{
    font-size: 29px;
}
.btn_two:hover{
    font-size: 24px;
}
#check:checked ~ .sidebar_menu{
    left: 0px;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two {
    opacity: 1;
}
