*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    height: 100vh;
}
.signinForm{
    
    height: fit-content;
    padding: 30px;
    border: 2px solid blue;
    width: fit-content;
    border-radius: 15px;
}
form{
        display: flex;
    flex-direction: column;
   
    gap: 20px;
}
h1{
    font-size: 2rem;
    font-weight: 800;
    color: blue;
    margin: 20px;
    text-align: center;
    justify-content: space-between;
}
.varify{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.first , .second{
   width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
label{
    font-size: small;
    color: skyblue;
}
input, select{
    border: 2px solid blue;
    padding: 5px 15px;
    border-radius: 5px;
    width: 200px;
}

.button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
Button{
    padding: 10px 50px;
    border-radius: 15px;
    background-color: blue;
    cursor: pointer;
    color: white;
}
.signupOption{
    font-size: 16px;
    color: skyblue;
}