*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    border: 10px solid cyan;
}

.white{
    background-color: white;
}
.black{
    background-color: black;
}