*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    height: 100vh;
}
.signupForm{
    width: 50%;
    height: 80%;
    padding: 30px;
    border: 2px solid blue;
    width: fit-content;
    border-radius: 15px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1{
    font-size: 2rem;
    font-weight: 800;
    color: blue;
    margin: 20px;
    text-align: center;
    justify-content: space-between;
}
.varification, .personalInfo, .contact{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.first, .second, .third, .fourth{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
label{
    font-size: small;
    color: skyblue;
}
input, select{
    border: 2px solid blue;
    padding: 5px 15px;
    border-radius: 5px;
    width: 200px;
}
.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;
    
}
.button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
Button{
    padding: 10px 50px;
    border-radius: 15px;
    background-color: blue;
    cursor: pointer;
    color: white;
}
.signinOption{
    font-size: 16px;
    color: skyblue;
}